Repository cloudnative-pg/charts, pull requests merged in 2024-12, with the labels that each got.

#431 feat(cluster): added support for enablePDB option
  charts/cluster/templates/cluster.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster-assert.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster.yaml
  charts/cluster/values.yaml
Labels: chart( cluster )

#369 add PGDBNAME to database-ping-test
  charts/cluster/templates/tests/ping.yaml
Labels: chart( cluster )

#461 Add namespace explicitly
  charts/cloudnative-pg/README.md
  charts/cloudnative-pg/templates/_helpers.tpl
  charts/cloudnative-pg/templates/config.yaml
  charts/cloudnative-pg/templates/deployment.yaml
  charts/cloudnative-pg/templates/monitoring-configmap.yaml
  charts/cloudnative-pg/templates/podmonitor.yaml
  charts/cloudnative-pg/templates/rbac.yaml
  charts/cloudnative-pg/templates/service.yaml
  charts/cloudnative-pg/values.yaml
  charts/cluster/README.md
  charts/cluster/templates/_helpers.tpl
  charts/cluster/templates/backup-azure-creds.yaml
  charts/cluster/templates/backup-google-creds.yaml
  charts/cluster/templates/backup-s3-creds.yaml
  charts/cluster/templates/ca-bundle.yaml
  charts/cluster/templates/cluster.yaml
  charts/cluster/templates/image-catalog-timescaledb-ha.yaml
  charts/cluster/templates/image-catalog.yaml
  charts/cluster/templates/pooler.yaml
  charts/cluster/templates/prometheus-rule.yaml
  charts/cluster/templates/recovery-azure-creds.yaml
  charts/cluster/templates/recovery-google-creds.yaml
  charts/cluster/templates/recovery-pg_basebackup-password.yaml
  charts/cluster/templates/recovery-s3-creds.yaml
  charts/cluster/templates/scheduled-backups.yaml
  charts/cluster/templates/tests/ping.yaml
  charts/cluster/templates/user-metrics.yaml
  charts/cluster/values.yaml
Labels: chart( cluster ), chart( operator )

#441 Fix ArgoCD diff on postgresql keys
  charts/cluster/templates/_bootstrap.tpl
  charts/cluster/templates/cluster.yaml
Labels: chart( cluster )

#391 add synchronous config
  charts/cluster/README.md
  charts/cluster/templates/cluster.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster-assert.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster.yaml
  charts/cluster/values.schema.json
  charts/cluster/values.yaml
Labels: chart( cluster )

#473 fix(cnpg): syntax error in deployment template prevents config.clusterWide from working
  charts/cloudnative-pg/templates/deployment.yaml
Labels: chart( operator )
