Repository cloudnative-pg/charts, pull requests merged in 2025-05, with the labels that each got.

#529 fix( cluster ): Unable to restore from local backup by backupName
  charts/cluster/templates/_bootstrap.tpl
  charts/cluster/test/postgresql-minio-backup-restore/05-recovery_backup_cluster.yaml
Labels: bug, chart( cluster ), size:S, lgtm

#581 fix: dead readme link to `charts/cluster/docs/recovery.md`
  charts/cluster/README.md
  charts/cluster/README.md.gotmpl
Labels: size:XS, lgtm

#467 fix(cloudnative-pg): add ImageCatalogs to view and edit ClusterRoles
  charts/cloudnative-pg/templates/rbac.yaml
Labels: chart( operator ), size:XS, lgtm

#594 ci(security): set workflows permission to read-all by default
  .github/workflows/lint.yml
  .github/workflows/release-pr.yml
  .github/workflows/release-publish.yml
  .github/workflows/tests-cluster-chainsaw.yaml
  .github/workflows/tests-operator.yml
Labels: size:S, lgtm
