Repository cloudnative-pg/charts, pull requests merged in 2025-10, with the labels that each got.

#642 feat(cluster): support additional environment vars via env and envFrom
  charts/cluster/README.md
  charts/cluster/templates/cluster.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster-assert.yaml
  charts/cluster/test/postgresql-cluster-configuration/01-non_default_configuration_cluster.yaml
  charts/cluster/values.schema.json
  charts/cluster/values.yaml
Labels: chart( cluster ), size:M, lgtm

#662 fix(cloudnative-pg): allow access to clusters/status subresource in rbac
  charts/cloudnative-pg/templates/rbac.yaml
Labels: bug, size:XS, lgtm

#664 Update Documentation URL to Current Version
  charts/cluster/README.md
  charts/cluster/values.yaml
Labels: chart( cluster ), size:XS, lgtm
